.pacientes-wrap {
    margin: auto;
    background: url(/assets/background.jpg) no-repeat center;
    background-size: 100% 120%;
    background-color: rgba(255, 255, 255, 0.5); 
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 160px;
    display: grid;
    justify-content: center;
}
  
.pacientes-wrap::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

.pacientes-html{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
}

.botonHistoriaClinica {
  text-transform: uppercase;
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  background: rgba(102, 182, 206, 1);
  border: none;
  border-radius: 10px; /* Redondeado, no circular */
}

.botonHistoriaClinica:hover {
  background: rgba(60, 130, 150, 1); /* Un tono más oscuro */
}

  .botonHistoriaClinica:disabled {
    background-color: #4a4a4a; 
    color: #cccccc;
    cursor: not-allowed; 
  }

.tabla{
    height: 700px;
    width: 1400px;
    background-color: #ffffffa7;
    display: flex;
    max-width: 100%;
}

.containertitulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.titulo-contenedor {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgba(102,182,206,255);
    padding-bottom: 10px;
    flex: 1;
    text-align: center;
    margin: 0;
}

.container{
    padding-top: 30px;
}

.foto-paciente {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.paciente-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.paciente-card.selected{
    border-color: #3c8296; 
    background-color: rgba(102,182,206,255); 
}

.card-body-fecha{
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.containerBoton{
    justify-content: center;
    display: flex;
}

.favbutton {
    background: none;
    border: none;
    padding: 20px; 
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px; 
    height: 200px; 
  }
  
  .favbutton.active {
    background-color: rgba(102,182,206,255);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  }
  
  .favbutton:hover {
    background-color: #eaeaea;
  }
  
  .paciente-img {
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
  }
  
  .favbutton.active {
    border-color: #007bff;
  }

  .paciente-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
  }

  .columnas{
    align-items: center;
    justify-content: center;
    display: flex;
  }