<div class="pacientes-wrap">
  <div class="pacientes-html">
    <div class="tabla">
      <div class="container">
        <div class="containertitulo">
          <h4 class="titulo-contenedor">Pacientes:</h4>
        </div>

        <div class="row">
          <div
            *ngFor="let patient of patients"
            class="col-md-4 mb-4"
          >
            <button
              class="favbutton card w-100 p-3"
              [class.active]="patient === selectedPatient"
              (click)="onPatientChange(patient)"
            >
              <h5 class="card-title text-center">{{ patient.name }} {{ patient.surname }}</h5>
              <p class="text-center mb-2"><strong>Fecha de los últimos turnos:</strong></p>
              <ul class="list-unstyled text-center">
                <li *ngFor="let appt of patientAppointments[patient.email]">
                  {{ appt.speciality }}: {{ appt.fecha }} {{ appt.horario }}
                </li>
              </ul>
            </button>
          </div>
        </div>
      
      </div>
    </div>
  </div>

  <div class="containerBoton">
    <button
      class="botonHistoriaClinica"
      (click)="showMedicalRecord()"
      [appDisableIfEmpty]="patients">
      Ver Historia Clinica
    </button>
  </div>
</div>
